<h1 class="text-3xl mt-20">Meetings ✅</h1>
<p>You have no meetings to show, for now.</p>
<!-- <% if (locals.meetings) { %>
<pre><%= JSON.stringify(meetings) %></pre>
<% } else { %>
<p>You have no meetings to show, for now.</p>
<% } %> -->

<script type="importmap">
  {
    "imports": {
      "socket.io-client": "https://cdn.socket.io/4.8.1/socket.io.esm.min.js"
    }
  }
</script>

<script type="module">
  import { formatDate, isInputEqualToToday } from "/js/calendarMatters.js";

  const generateRandomHexColor = () => {
    return "#" + Math.floor(Math.random() * 16777215).toString(16);
  };

  let socket,
    roomIdentity = null;
  const playerPlus = [];

  function onWindowLoaded() {}

  window.onload = onWindowLoaded();
</script>
