<style>
  input {
    border: 0.3px solid lightgray;
  }
  /***** MODAL DIALOG ****/
  #modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
  }

  #modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  #modal > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
  }

  #modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
  }

  #modal.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
  }

  .modal-header {
    position: relative;
  }

  .modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    height: 86%;
    margin-top: 2px;
    overflow: auto;
  }

  .close-icon {
    cursor: pointer;
    /* float: right; */
    font-size: xx-large;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 0;
    right: 2%;
  }
</style>

<!---->

<section class="mt-32 mx-4 sm:mx-auto sm:w-full sm:max-w-sm">
  <h1 class="text-gray-900 text-2xl mb-2">Sign In</h1>
  <form class="space-y-6" method="post" action="/login">
    <input
      id="email"
      type="email"
      placeholder="you@email.address"
      name="email"
      required
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
    />
    <input
      id="loginpassword"
      type="password"
      placeholder="your password"
      name="loginpassword"
      required
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
    />
    <input
      type="submit"
      value="Sign In"
      class="w-20 h-8 bg-green-600 text-white rounded cursor-pointer"
    />
  </form>
  <p class="mt-10 text-center text-sm/6 text-gray-500">
    Not a member?
    <a
      href="#"
      id="open-modal"
      class="font-semibold text-green-600 hover:text-green-500"
      >Start a 14 day free trial</a
    >
  </p>
  <div id="modal-overlay" class="modal-overlay">
    <div class="modal mt-4">
      <div class="modal-header">
        <span class="close-icon">&times;</span>
      </div>
      <div class="modal-content">
        <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
        <div class="flex min-h-full flex-col justify-center px-6 py-6 lg:px-8">
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img
              src="https://www.svgrepo.com/show/284978/love-heart.svg"
              alt="Meet logo"
              class="mx-auto h-8 w-auto"
            />
            <h2
              class="mt-12 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
            >
              Create your account
            </h2>
          </div>

          <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form action="/signup" method="POST" class="space-y-6">
              <div>
                <label
                  for="username"
                  class="block text-sm/6 font-medium text-gray-900"
                  >Username</label
                >
                <div class="mt-2">
                  <input
                    id="username"
                    type="text"
                    name="username"
                    placeholder="What should we call you?"
                    title="No one else will use this name"
                    required
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                  />
                </div>
              </div>

              <div>
                <div class="flex items-center justify-between">
                  <label
                    for="password"
                    class="block text-sm/6 font-medium text-gray-900"
                    >Password</label
                  >
                  <div class="text-sm">
                    <a
                      href="#"
                      class="font-semibold text-green-600 hover:text-green-500"
                      >Generate password</a
                    >
                  </div>
                </div>
                <div class="mt-2">
                  <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Min. 7 characters (letters, symbols, numbers).."
                    required
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                  />
                </div>
              </div>
              <!---->
              <!-- <div>
                <label
                  for="first-name"
                  class="block text-sm/6 font-medium text-gray-900"
                  >First Name</label
                >
                <div class="mt-2">
                  <input
                    id="first-name"
                    type="text"
                    name="first_name"
                    placeholder="First Name"
                    required
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                  />
                </div>
              </div>

              <div>
                <label
                  for="last-name"
                  class="block text-sm/6 font-medium text-gray-900"
                  >Last Name</label
                >
                <div class="mt-2">
                  <input
                    id="last-name"
                    type="text"
                    name="last_name"
                    placeholder="Last Name"
                    required
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                  />
                </div>
              </div>

              <div>
                <label
                  for="user-name"
                  class="block text-sm/6 font-medium text-gray-900"
                  >UserName</label
                >
                <div class="mt-2">
                  <input
                    id="user-name"
                    type="text"
                    name="username"
                    placeholder="What do we call you?"
                    required
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                  />
                </div>
              </div>
              <div>
                <label
                  for="bio"
                  class="block text-sm/6 font-medium text-gray-900"
                  >Bio:</label
                >
                <div class="mt-2">
                  <textarea
                    id="bio"
                    name="bio"
                    rows="5"
                    cols="40"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
                    placeholder="Type some fun facts about you..."
                  ></textarea>
                </div>
              </div> -->
              <!---->

              <div>
                <input
                  type="submit"
                  class="cursor-pointer flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                  value="Sign up"
                />
              </div>
            </form>

            <p class="mt-10 text-center text-sm/6 text-gray-500">
              Signing up means you accept our
              <a
                href="#"
                class="font-semibold text-green-600 hover:text-green-500"
                >Terms and Conditions</a
              >
            </p>
          </div>
        </div>
        <!--end-->
      </div>
    </div>
  </div>
</section>

<script>
  let modOverlay = document.getElementById("modal-overlay");
  let openModBtn = document.getElementById("open-modal");
  let closeModBtns = document.querySelectorAll(".close-icon, .close-button");

  openModBtn.addEventListener("click", () => {
    modOverlay.style.display = "flex";
  });

  closeModBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      modOverlay.style.display = "none";
    });
  });
</script>
