<section class="mt-32 mx-4 sm:mx-auto sm:w-full sm:max-w-sm">
  <h1 class="text-gray-900 text-2xl">Sign In</h1>
  <form class="space-y-6" method="post" action="#">
    <input
      id="email"
      type="email"
      placeholder="you@email.address"
      name="email"
      required
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
    />
    <input
      id="password"
      type="password"
      placeholder="your password"
      name="password"
      required
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"
    />
    <input
      type="submit"
      value="Sign In"
      class="w-20 h-8 bg-green-600 text-white rounded cursor-pointer"
    />
  </form>
  <p class="mt-10 text-center text-sm/6 text-gray-500">
    Not a member?
    <a href="#" class="font-semibold text-green-600 hover:text-green-500"
      >Start a 14 day free trial</a
    >
  </p>
</section>
